
.period-table{
	width: 1000px;
	margin: 0 auto;
/*	background: aquamarine; */
}

.table-header{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.table-header > .single-column {
	margin: 0px;
}

.table-header > .double-column {
	margin: 0px;
	width: 202px;
	display: flex;
	flex-direction: column;
}

.table-header > .double-column > .double-name{
	padding-right: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.single-column{
	margin: 1px;
	padding: 5px;
	width: 100px;
	text-align: center;
	 
}

.double-column{
	margin: 1px;
	padding: 5px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	width: 200px;
	display: flex;
	flex-direction: row;	
	justify-content: space-around;

}

.header{
	background: #FBCE06;
	border: 1px solid #fff;	
	text-align: center;
}

.name{
	width: 100%;
	text-align: center;
}

.cell {
	width: 40%;
	display: flex;
	flex-direction: column;	
}

.circle{
	width: 10px;
	height: 10px;
	background: #FBCE06;
	border: 1px solid orange;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	 margin: auto;
	 margin-top: 3px;
}

.container{
	padding-left: 5px;
	overflow: hidden;
}

.icon-wrapper{
	width: 100%;
	height: 20px;
	overflow: hidden;
}

.diamond{
    width: 10px;
    height: 10px;
    background: #9053A0;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
	margin: 6px 3px 2px 50px;
}

.container:last-child {
	margin-bottom: 5px;
}

.inner-content{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.cell-wrapper{
	display: flex;
	justify-content: flex-end;
}
.period{
	flex-grow: 2;
	padding-left: 5px;
	padding-top: 5px; 
	text-align: left;
	font-size: 18px;
}

.period span:hover{
	cursor: pointer;
}